<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="page-top">
			<div class="page-content">
				<h2>任务计划表</h2>
			</div>
			<div class="main">
				<h3 class="big-title">添加任务：</h3>
				<input 
					type="text" 
					id="" 
					class="task-input" 
					placeholder="例如吃饭睡觉打豆豆；提示：+回车即可添加任务"
					@keyup.13='addTodo'
					v-model="todo"
				 />
				<ul class="task-count" >
					<li v-show="list.length">{{list.length}}个任务未完成</li>
					<li class="action">
						<a class="active" href="#">所有任务</a>
						<a href="#">未完成的任务</a>
						<a href="#">完成的任务</a>
					</li>
				</ul>
				<h3 class="big-title">任务列表：</h3>
				<div class="tasks">
					<span class="no-task-tip">还没有添加任何任务</span>
					<ul class="todo-list">
						<li class="todo" v-for='item in list'>
							<div class="view">
								<input type="checkbox" checked class="toggle" />
								<label for="">{{item.title}}</label>
								<button class="destroy"></button>
							</div>
							<input type="text" name="" id="" value="" class="edit" />
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</body>

</html>
<script type="text/javascript">
	var lists = [

	];
	new Vue({
		el: '.main',
		data: {
			list: lists,
			todo:''
		},
		methods:{
			addTodo:function(ev){//添加任务
				//向list中添加一项任务
				console.log(ev)
				this.list.push({
					title:this.todo
				})
				this.todo=''
			}
		}
	})
</script>